.img1 {
    width: 400px;
    height: 262.9px;
    border-radius: 8px;
}

/* #main-div{
    padding: 10px;
} */

#card1 {
    width: 400px;
    /* height: 500px; */
    margin: 5px;
    /* border: 1px solid gray; */
}

#div1 {
    padding-right: 20px;
    margin-right: 10px;
    height: 530px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px gray;
}

#div1:hover {
    background-color: rgb(33, 32, 32);
    color: aliceblue;
}

.bt {
    background-color: aqua;
}